node_modules/
dist/
.turbo/
.pnpm-store/
.eslintcache
.DS_Store
.idea/
.vscode/
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

client/.vite/
client/coverage/
client/node_modules/

server/bin/
server/obj/
server/**/*.user
server/**/*.rsuser

tests/**/bin/
tests/**/obj/

.env
